@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="height:200px">
 

</div>
<div class="jumbotron" style="background-color:#3394b9">
    <h1 class="text-center">Del Trans Web API</h1>
    <p class="lead text-center">....</p>
   
</div>

<div class="row" style="height:200px">


</div> 